<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Chat</title>
</head>
<body>
    <h3>new chat</h3>
    <form method="POST" action="/chats">
        <input placeholder="From" name="from" required>
        <br><br>
        <textarea name="msg" placeholder="Message" required></textarea>
        <br><br>
        <input placeholder="Receiver" name="to" required>
        <br><br>
        <button>Create</button>
    </form>
</body>
</html>