<%- include("header/boilerplate.ejs") %>

<body>
  <form method="post" action="/posts">
    <input placeholder="Enter your username" name="username" /> <br />
    <textarea name="content" placeholder="Enter your content"></textarea><br />
    <button>submit post</button>
  </form>
</body>
