<%- include("header/head.ejs") %>

<body>
  <h1>This is a home page 1 + 2</h1>
  <h3><%= 1+2 %></h3>
  <!--EJS(dynamic)-->
  <h3><%= "samarth" .toUpperCase() %></h3>
  <h3><%= ["raj","parv","fenil"][1] %></h3>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa ut obcaecati
    quia, dolore aliquid odit, beatae numquam voluptate velit esse officiis,
    ducimus commodi recusandae animi amet! Sed necessitatibus maxime
    reprehenderit.
  </p>
  <button>click me</button>
</body>
